include *.rst
include .coveragerc
include .gitignore
include .travis.yml
include COPYING
include Makefile
include tox.ini

# added by check_manifest.py
include *.yml

# added by check_manifest.py
include *.py

# added by check_manifest.py
include *.mk
